* {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: #e8eae6;
  /* width: 100%; */
}

.left__container {
  flex: 0.75;
}


@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .right__container {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
} 




