* {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: #f5f4f4;
  height: 100vh;
  /* width: 100vw; */
}

.InfoBoxes {
  display: flex;
  justify-content: space-between;
  background-color: #cdd0cb;
  padding: 1rem;
  width: 100%;
}

.left__container {
  flex: 0.75;
}